<ion-header>
  <ion-toolbar>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div *ngIf="!activities$">
      <ion-card>
          <ion-skeleton-text animated class="skeleton-image"></ion-skeleton-text>
          <ion-card-header>
              <ion-skeleton-text animated></ion-skeleton-text>
              <ion-skeleton-text animated></ion-skeleton-text>
          </ion-card-header>
      </ion-card>

      <ion-card>
          <ion-skeleton-text animated class="skeleton-image"></ion-skeleton-text>
          <ion-card-header>
              <ion-skeleton-text animated></ion-skeleton-text>
              <ion-skeleton-text animated></ion-skeleton-text>
          </ion-card-header>
      </ion-card>

      <ion-card>
          <ion-skeleton-text animated class="skeleton-image"></ion-skeleton-text>
          <ion-card-header>
              <ion-skeleton-text animated></ion-skeleton-text>
              <ion-skeleton-text animated></ion-skeleton-text>
          </ion-card-header>
      </ion-card>
  </div>
  
  
  <ion-card [routerLink]="['activity-detail', activity.id]"  button *ngFor="let activity of activities$ | async"> 
    <ion-card-content>
      <ion-img
        [src]="activity.cropped"
      ></ion-img>
    </ion-card-content>
    <ion-card-header>
        <ion-card-title color="primary">{{activity.name}}</ion-card-title>
      </ion-card-header>
  </ion-card>
  
</ion-content>
